<section id="main">
	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>
</section>

<input type="text" name="repo" id="repo" placeholder="Digite un repositorio para buscar">
<button id="myButton" class="btn">Click Me!</button>

<script id="repo-template" type="text/x-handlebars-template">
	<p>You can find me in {{city}}. My address is {{number}} {{street}}.</p>
</script>

<div id="container">
</div>
